{% from "fragments/_macros.html" import render_rating %}

<h4 id="twist-{{ twist_id }}-average-rating" hx-swap-oob="true">
    {% if overall_average %}
    Average Rating: {{ overall_average }}/10
    {% else %}
    Average Rating: N/A
    {% endif %}
</h4>

{% if average_ratings %}
    {% for slug, criterion in average_ratings.items() %}
    {{ render_rating(criterion_max_value, slug, criterion.rating, criterion.description, criterion.excluded) }}
    {% endfor %}
{% else %}
    <li class="rating-slider-container rating-slider-container-empty">
        <p>Be the first to ride this!</p>
    </li>
{% endif %}
