{% from "fragments/_macros.html" import render_modal_content, render_form_buttons %}

{% call render_modal_content("Ride " ~ twist.name) %}
<form class="modal-form" data-paved="{{ twist.is_paved | lower }}"
    hx-post="/twists/{{ twist.id }}/rides"
    hx-swap="none">

    <div class="form-group">
        <label for="ride-date">Ride Date</label>
        <input type="date" id="ride-date" name="ride_date" value="{{ today }}" max="{{ tomorrow }}" required>
    </div>

    {% for criteria in criteria_list %}
    <div class="form-group slider-group">
        <label for="{{ criteria.name }}" title="{{ criteria.desc }}">{{ criteria.name.replace('_', ' ') | title }}</label>
        <input type="range"
            id="{{ criteria.name }}"
            name="{{ criteria.name }}"
            min="{{ criterion_min_value }}"
            max="{{ criterion_max_value }}"
            value="{{ criterion_initial_value }}"
            oninput="this.nextElementSibling.value = this.value">
        <output for="{{ criteria.name }}">5</output>
    </div>
    {% endfor %}

    {{ render_form_buttons(submit_text="Submit Ride") }}
</form>
{% endcall %}
