{# Render modal content with a consistent header and close button #}
{% macro render_modal_content(title) %}
<button class="button close" onclick="this.closest('dialog').close()">
    &times;
</button>
<h1>{{ title }}</h1>

{{ caller() }}


{% endmacro %}


{# Render a consistent form button group #}
{% macro render_form_buttons(submit_text="Submit", submit_extra_classes="", submit_type="submit", submit_onclick="") %}
<div class="button-group">
    <button class="button button-block button-cancel" type="button"
        onclick="this.closest('dialog').close()">
        Cancel
    </button>
    <button class="button button-block {{ submit_extra_classes | trim }}"
            type="{{ submit_type }}"
            {% if submit_onclick %}onclick="{{ submit_onclick }}"{% endif %}>
        {{ submit_text }}
    </button>
</div>
{% endmacro %}

{# Renders a slider to be animated with only CSS #}
{% macro render_rating(max_value, criterion_slug, rating, criterion_description, excluded=False) %}
<li class="rating-slider-container" {% if excluded %}style="opacity: 0.4;"{% endif %}>
    <div class="rating-slider" style="--value: {{ rating }};"
        title="{{ criterion_description }} {% if excluded %}(excluded from overall rating){% endif %}">
        <div class="rating-slider-fill">
            <span>&nbsp; {{ criterion_slug.replace('_', ' ') | title }}</span>
            <span>{{ rating }}/{{ max_value }} &nbsp;</span>
        </div>

        <span>&nbsp; {{ criterion_slug.replace('_', ' ') | title }}</span>
        <span>{{ rating }}/{{ max_value }} &nbsp;</span>
    </div>
</li>
{% endmacro %}
