{# Render dynamic modal opening button #}
{% macro render_modal_button(twist_id, modal_name, id=False, extra_classes="") -%}
<a {% if id %}id="modal-{{ modal_name }}-button"{% endif %}
    href="#modal-{{ modal_name }}"
    class="button {{ extra_classes | trim }}"
    hx-get="/modal-{{ modal_name }}/{{ twist_id }}"
    hx-target="#modal-{{ modal_name }}"
    hx-swap="innerHTML">{{ caller() }}</a>
{%- endmacro %}

{# Render modal content with a consistent header and close button #}
{% macro render_modal_content(title) %}
<div class="modal-content">
    <a href="#" class="close">&times;</a>
    <h1>{{ title }}</h1>

    {{ caller() }}
</div>
{% endmacro %}


{# Render a consistent form button group #}
{% macro render_form_buttons(submit_text="Submit", submit_extra_classes="", submit_disabled=false) %}
<div class="button-group">
    <a href="#" class="button button-block button-cancel">Cancel</a>
    <button class="button button-block {{ submit_extra_classes | trim }}" type="submit"
        {% if submit_disabled %}disabled{% endif %}>

        {{ submit_text }}
    </button>
</div>
{% endmacro %}

{# Renders a slider to be animated with only CSS #}
{% macro render_rating(criterion, rating, criterion_desc="") %}
<li class="rating-slider-container">
    <div class="rating-slider" style="--value: {{ rating }};" title="{{ criterion_desc }}">
        <div class="rating-slider-fill">
            <span>&nbsp; {{ criterion.replace('_', ' ') | title }}</span>
            <span>{{ rating }}/10 &nbsp;</span>
        </div>

        <span>&nbsp; {{ criterion.replace('_', ' ') | title }}</span>
        <span>{{ rating }}/10 &nbsp;</span>
    </div>
</li>
{% endmacro %}