<div id="auth-widget" class="{% if user %}auth-dropdown{% endif %}">
    {% if user %}
    <button class="button button-block auth-display">{{ user.name }}</button>
    <div class="auth-dropdown-menu">
        <a>Profile</a>
        {% if user.is_superuser %}
        <a>Admin Settings</a>
        {% endif %}
        <a hx-get="/logout"
            hx-target="#auth-widget"
            hx-swap="outerHTML">

            Logout
        </a>
    </div>
    {% else %}
    <a href="#modal-login" class="button button-block button-login">Login</a>
    {% endif %}
</div>