{% from "fragments/_macros.html" import render_modal_button, render_rating %}

{# This is the entire inner content of the dropdown #}
<h4>Average Rating</h4>
{% call render_modal_button(twist_id, "rate-twist", id=True, extra_classes="button-block") %}
    Rate
{% endcall %}

<ul>
{% if average_ratings %}
    {% for criterion, data in average_ratings.items() %}
    {{ render_rating(criterion, data.rating, data.desc) }}
    {% endfor %}
{% else %}
    <li>No ratings yet</li>
{% endif %}
</ul>

{# Conditionally show the 'See all' link #}
{% if average_ratings %}
    {% call render_modal_button(twist_id, "view-twist-ratings", extra_classes="button-link") %}
    See all
    {% endcall %}
{% else %}
    {% call render_modal_button(twist_id, "view-twist-ratings", extra_classes="button-link invisible") %}
    See all
    {% endcall %}
{% endif %}

{% call render_modal_button(twist_id, "delete-twist", id=True, extra_classes="button-link") %}
<i class="fa-solid fa-trash"></i>
{% endcall %}