{% for twist in twists %}
<li class="twist-item scroll-shut-on-delete" data-twist-id="{{ twist.id }}" data-paved="{{ twist.is_paved }}">
    <div class="twist-header"
        hx-get="/rating-dropdown/{{ twist.id }}"
        hx-target="next .rating-dropdown"
        hx-swap="innerHTML"
        hx-trigger="click once">
        <span class="twist-name">{{ twist.name }}</span>
        <span class="visibility-toggle" title="Toggle visibility">
            <i class="far fa-eye"></i>
        </span>
    </div>
    <div class="rating-dropdown"
        hx-ext="morph"
        hx-get="/rating-dropdown/{{ twist.id }}"
        hx-trigger="ratingDeleted-{{ twist.id }} from:body"
        hx-target="this"
        hx-swap="morph:innerHTML">

        <p>Loading ratings...</p>
    </div>
</li>
{% endfor %}