<!DOCTYPE html>
<html>
<head>
    {{ css_block | safe }}
</head>
<body>
    <div class="centered-container">
        <div class="modal">
            <h1>Verify your account</h1>
            <p>Thank you for signing up for MotoTwist at {{ SETTINGS.MOTOTWIST_BASE_URL }}!</p>
            <br>

            <form class="modal-form">
                <div class="button-group">
                    <span class="button-group-label">Please verify your account</span>
                    <a href="{{ SETTINGS.MOTOTWIST_BASE_URL }}/verify?token={{ token }}" class="button button-block">Verify</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>