{% if export_cart_count and export_cart_count > 0 %}
<button id="export-cart" class="button button-block action-button"
    onclick="document.querySelector('#modal-export-twists').showModal()">

    <i class="fa-solid fa-file-export"></i>
</button>
{% endif %}

{% if user %}
<button id="start-new-twist" class="button button-block action-button"
    hx-get="/twists/templates/create-edit-modal"
    hx-target="#modal-create-edit-twist"
    hx-swap="innerHTML">

    <i class="fa-solid fa-plus"></i>
</button>
<button id="finalize-new-twist" class="button button-block action-button gone"
    onclick="document.querySelector('#modal-create-edit-twist').showModal()">

    <i class="fa-solid fa-check"></i>
</button>
<button id="cancel-new-twist" class="button button-block button-cancel action-button gone">
    <i class="fa-solid fa-ban"></i>
</button>
{% endif %}
