{% from "fragments/_macros.html" import render_modal_content, render_form_buttons %}

{% call render_modal_content("Delete " ~ twist.name) %}
<p>Are you sure you want to delete the twist "<strong>{{ twist.name }}</strong>"?</p>
<p>This action cannot be undone.</p>

<form class="modal-form"
    hx-delete="/twists/{{ twist.id }}"
    hx-target=".twist-item[data-twist-id='{{ twist.id }}']"
    hx-swap="outerHTML swap:500ms">

    {{ render_form_buttons(submit_text="Delete", submit_extra_classes="button-delete") }}
</form>
{% endcall %}
