<p class="author">Created by {{ twist_author_name }}</p>
<header>
    <h4>Average Rating</h4>
    {% if user %}
    <button class="button button-very-small button-block" onclick="document.querySelector('#modal-ride-twist').showModal()"
        hx-get="/twists/{{ twist_id }}/rides/templates/ride-modal"
        hx-target="#modal-ride-twist"
        hx-swap="innerHTML">

        Ride
    </button>
    {% endif %}
</header>

<form class="filter-form"
    hx-get="/twists/{{ twist_id }}/rides/templates/averages"
    hx-ext="morph"
    hx-target="next .averages-list"
    hx-include="#twist-filter-form"
    hx-swap="morph:innerHTML"
    hx-trigger="change, {{ EVENTS.REFRESH_AVERAGES }}[event.detail.value == '{{ twist_id }}'] from:body">

    <fieldset class="filter-fieldset">
        <div class="filter-group" title="Filter between all or your Twists">
            <input type="radio" id="own_all_rides_in_{{ twist_id }}" name="ride_ownership" value="all" checked>
            <label class="label-button" for="own_all_rides_in_{{ twist_id }}">All Rides</label>
            <input type="radio" id="own_own_rides_in_{{ twist_id }}" name="ride_ownership" value="own">
            <label class="label-button" for="own_own_rides_in_{{ twist_id }}">My Rides</label>
        </div>
    </fieldset>
</form>

<ul class="averages-list"
    hx-get="/twists/{{ twist_id }}/rides/templates/averages"
    hx-include="#twist-filter-form"
    hx-swap="innerHTML"
    hx-trigger="load">
</ul>

<footer
    hx-get="/twists/{{ twist_id }}/rides/templates/view_all_button"
    hx-target="find button"
    hx-include="#twist-filter-form"
    hx-swap="outerHTML"
    hx-trigger="load, {{ EVENTS.REFRESH_AVERAGES }}[event.detail.value == '{{ twist_id }}'] from:body">

    {% include "fragments/rides/view_all.html" %}

    {% if can_delete_twist %}
    <button class="button button-very-small button-link" onclick="document.querySelector('#modal-delete-twist').showModal()"
        hx-get="/twists/{{ twist_id }}/templates/delete-modal"
        hx-target="#modal-delete-twist"
        hx-swap="innerHTML">

        <i class="fa-solid fa-trash"></i>
    </button>
    {% endif %}
</footer>
