{% for twist in twists %}
<li class="twist-item scroll-shut-on-delete" data-twist-id="{{ twist.id }}" data-paved="{{ twist.is_paved }}">
    <header class="twist-header"
        hx-get="/twists/{{ twist.id }}/templates/dropdown"
        hx-target="next .twist-dropdown"
        hx-swap="innerHTML"
        hx-trigger="load-twist-dropdown">

        <span class="twist-name">{{ twist.name }}</span>
        <span>
            {% if twist.viewer_is_author %}
            <i class="fa-solid fa-user"></i>
            {% else %}
            <i class="fa-regular fa-user"></i>
            {% endif %}
        </span>
        <span class="visibility-toggle" title="Toggle visibility">
            <i class="far fa-eye"></i>
        </span>
    </header>
    <div class="twist-dropdown">
        <p class="loading">Loading...</p>
    </div>
</li>
{% endfor %}