{% for twist in twists %}
<li id="twist-item-{{ twist.id }}"
    class="twist-item scroll-shut-on-delete {% if start_page == 1 and loop.index <= twists_per_page %}is-visible{% endif %}"
    data-twist-id="{{ twist.id }}"
    data-paved="{{ twist.is_paved }}"

    {% if loop.last and loop.length > 1 %}
        hx-get="/twists/templates/list"
        hx-swap="afterend"
        hx-trigger="intersect once"
        hx-include="#twist-filter-form"
        hx-vals='{"page": {{ next_page }} }'
    {% endif %}
    >

    <header class="twist-header"
        hx-get="/twists/{{ twist.id }}/templates/dropdown"
        hx-ext="morph"
        hx-target="next .twist-dropdown"
        hx-swap="morph:innerHTML"
        hx-trigger="{{ EVENTS.LOAD_DROPDOWN }}">

        <span class="twist-name">{{ twist.name }}</span>
        <span>
            {% if twist.viewer_is_author %}
            <i class="fa-solid fa-user"></i>
            {% else %}
            <i class="fa-regular fa-user"></i>
            {% endif %}
        </span>
        <span class="visibility-toggle" title="Toggle visibility">
            <i class="far {% if start_page == 1 and loop.index <= twists_per_page %}fa-eye{% else %}fa-eye-slash{% endif %}"></i>
        </span>
    </header>
    {% if twist.id == open_twist_id %}
    <div class="twist-dropdown is-open">
        {% include "fragments/twists/dropdown.html" %}
    </div>
    {% else %}
    <div class="twist-dropdown">
        <p class="loading">Loading...</p>
    </div>
    {% endif %}
</li>
{% endfor %}