{% from "fragments/_macros.html" import render_modal_content, render_form_buttons %}

{% call render_modal_content(user.name ~ "'s Profile") %}
<form class="modal-form manual-validation"
    hx-put="/users"
    hx-target="#auth-widget"
    hx-swap="innerHTML">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" value="{{ user.name }}">
    </div>
    
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" class="form-control" value="{{ user.email }}">
    </div>
    
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="(unchanged)">
    </div>
    
    <div class="form-group">
        <label for="password_confirmation">Confirm New Password</label>
        <input type="password" id="password_confirmation" name="password_confirmation" class="form-control">
    </div>

    {{ render_form_buttons(submit_text="Save") }}
</form>
<form class="modal-form">
    <div class="danger-zone">
        <h3>Danger Zone!</h3>

        <p>
            These actions are irreversible and will affect your account's status.
            Please proceed with caution.
        </p>

        <div class="button-group">
            <button type="button" class="button button-block button-deactivate"
                    hx-post="/users/deactivate"
                    hx-swap="none"
                    hx-confirm="Are you sure you want to deactivate your account? This action can only be undone by an administrator.">
                Deactivate Account
            </button>
            <button type="button" class="button button-block button-delete"
                    hx-delete="/users"
                    hx-swap="none"
                    hx-confirm="Are you sure you want to permanently delete your account? This action cannot be undone.">
                Delete Account
            </button>
        </div>
    </div>
</form>
{% endcall %}