alembic
asyncpg
fastapi
fastapi-users[sqlalchemy]
httpx
humanize
itsdangerous
jinja2
pydantic-settings
python-multipart
redis[hiredis]
shapely
sqlalchemy
uvicorn


passlib[bcrypt]
python-jose[cryptography]