<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MotoTwist{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">

    {% if settings %}
    <script>
        const OSM_URL = "{{ settings.OSM_URL | safe }}";
        const OSRM_URL = "{{ settings.OSRM_URL | safe }}";
    </script>
    {% endif %}

    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
        integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="static/css/style.css">
    {% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
    <ul popover="manual" class="flash-container" {% if flash_message %}data-initial-flash-message="{{ flash_message }}"{% endif %}></ul>

    {% block content %}{% endblock %}

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.7/htmx.min.js"
        integrity="sha512-IisGoumHahmfNIhP4wUV3OhgQZaaDBuD6IG4XlyjT77IUkwreZL3T3afO4xXuDanSalZ57Un+UlAbarQjNZCTQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    <script src="https://unpkg.com/idiomorph@0.7.4/dist/idiomorph-ext.min.js"
        integrity="sha384-SsScJKzATF/w6suEEdLbgYGsYFLzeKfOA6PY+/C5ZPxOSuA+ARquqtz/BZz9JWU8"
        crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.2/json-enc.js"></script>

    <script type="module" src="static/js/site.js" defer></script>
    {% endblock %}
</body>
</html>