{% extends "base.html" %}

{% block content %}
<div class="centered-container">
    <div class="modal">
        <h1>Debug Menu</h1>

        <p>
            Currently, there
            {% if user_count == 1 %} is 1 user
            {% else %} are {{ user_count }} users
            {% endif %}
             ({{ admin_count }}
            {% if admin_count == 1 %} is an administrator
            {% else %} are administrators
            {% endif %}
             and {{ inactive_count }}
            {% if inactive_count == 1 %} is inactive).
            {% else %} are inactive).
            {% endif %}
             There
            {% if twist_count == 1 %} is 1 Twist
            {% else %} are {{ twist_count }} Twists
            {% endif %}
             and a total of {{ rating_count }}
            {% if rating_count == 1 %} rating.
            {% else %} ratings.
            {% endif %}
             Loading a new state will destroy the existing state.
        </p>

        <h2>Database State</h2>
        <form class="modal-form"
            hx-post="/debug/load"
            hx-swap="none"
            hx-encoding='multipart/form-data'>

            <div class="form-group">
                <input type="file" id="json-file" name="json_file" accept=".json,application/json" required>
            </div>
            <div class="button-group">
                <span class="button-group-label">Load database state from JSON File</span>
                <button type="submit" class="button button-block">Load State</button>
            </div>
        </form>
        <form class="modal-form" method="POST" action="/debug/save">
            <div class="button-group">
                <span class="button-group-label">Save the database state to a JSON file</span>
                <button type="submit" class="button button-block">Save State</button>
            </div>
        </form>
        <h2>Rating Data</h2>
        <form class="modal-form"
            hx-post="/debug/seed-ratings"
            hx-swap="none">

            <div class="form-group">
                <label for="rating_count">General Rating Count</label>
                <input type="number" id="rating_count" name="rating_count" value="100" required>
            </div>
            <div class="form-group">
                <label for="popular_twist_name">Popular Twist Name</label>
                <input type="text" id="popular_twist_name" name="popular_twist_name" required>
            </div>
            <div class="form-group">
                <label for="popular_rating_count">Popular Twist Rating Count</label>
                <input type="number" id="popular_rating_count" name="popular_rating_count" value="100" required>
            </div>
            <div class="form-group">
                <label for="distribution_focus">Distribution Focus (Higher = more concentrated)</label>
                <input type="number" step="0.1" id="distribution_focus" name="distribution_focus" value="2.5" required>
            </div>
            <div class="button-group">
                <span class="button-group-label">Create ratings based on the above parameters</span>
                <button type="submit" class="button button-block">Seed Data</button>
            </div>
        </form>
        <form class="modal-form" method="GET" action="/">
            <div class="button-group">
                <span class="button-group-label">Return to MotoTwist</span>
                <button type="submit" class="button button-block">Done</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}