{% extends "base.html" %}
{% from "fragments/_macros.html" import render_modal_content, render_form_buttons %}

{% block content %}
<div id="sidebar">
    <h1>MotoTwist</h1>
    {% if user %}
    <button id="start-new-twist" class="button create-twist-button" href="#">New Twist</button>
    <a id="finalize-new-twist" class="button create-twist-button gone" href="#modal-create-twist">Finalize</a>
    <button id="cancel-new-twist" class="button create-twist-button button-cancel gone">Cancel</button>
    {% else %}
    <h4>Register or Login to create Twists!</h4>
    {% endif %}

    <ul id="twist-list" hx-get="/twists/templates/list" hx-trigger="load" hx-swap="innerHTML">
        <p>Loading Twists...</p>
    </ul>
</div>

<div id="map"></div>

<template id="create-waypoint-popup-template">
    <div class="create-waypoint-popup">
        <input type="text" class="create-waypoint-name-input" placeholder="Waypoint Name">
        <div class="popup-buttons">
            <button class="popup-button-edit" title="Edit Waypoint">
                <i class="fa-regular fa-edit"></i>
            </button>
            <button class="popup-button-delete" title="Delete Waypoint">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
</template>

<div id="top-right-controls">
    {% if settings.DEBUG_MODE %}
    <a href="/debug" class="button button-block">Debug Menu</a>
    {% endif %}
    {% include "fragments/auth/widget.html" %}
    <a id="modal-about-button" href="#modal-about" class="button button-block">
        <img src="{{ url_for('static', path='/images/favicon.ico') }}">
    </a>
</div>

<div id="modal-login" class="modal">
    {% call render_modal_content("Login") %}
        <form hx-post="/login"
            hx-target="#auth-widget"
            hx-swap="outerHTML">

            <div class="form-group">
                <label for="username">Email</label>
                <input type="email" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            {% if settings.ALLOW_USER_REGISTRATION %}
            <a href="/register" class="button button-link">
                Don't have an account? Register!
            </a>
            {% else %}
            <span class="explainer-text">Contact an administrator to create an account.</span>
            {% endif %}

            {{ render_form_buttons(submit_text="Login") }}
        </form>
    {% endcall %}
</div>

<div id="modal-about" class="modal">
    {% call render_modal_content("About") %}
    <div class="about-content">
        <p class="app-tagline">
            The ultimate companion for every motorcycle enthusiast. Discover, track, and save your most epic journeys.
        </p>

        <ul class="info-list">
            <li>
                <span>Current Version</span>
                <strong>{{ settings.MOTOTWIST_VERSION }}</strong>
            </li>
            <li>
                <span>Latest Version</span>
                <strong hx-get="/latest-version" hx-trigger="load" hx-swap="outerHTML">Unknown</strong>
            </li>
            <li>
                <span>Source Code</span>
                <a href="https://github.com/{{ settings.MOTOTWIST_UPSTREAM }}" target="_blank" class="button-link">View on GitHub <i class="icon-external-link"></i></a>
            </li>
        </ul>

        <div class="support-info">
            <p>Enjoying the app? A small contribution helps keep the project alive and running!</p>
            <a href='https://ko-fi.com/B0B11LJBPP' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
        </div>
    </div>
    {% endcall %}
</div>

<div id="modal-profile" class="modal modal-dynamic"
    hx-get="/users/templates/profile-modal"
    hx-target="this"
    hx-trigger="updateProfileModal from:body"
    hx-swap="innerHTML">

    <p>Loading...</p>
</div>

<div id="modal-admin-settings" class="modal modal-dynamic">
    <p>Loading...</p>
</div>

<div id="modal-create-twist" class="modal">
    {% call render_modal_content("New Twist") %}
    <form hx-post="/twists"
        hx-target="#twist-list"
        hx-swap="innerHTML"
        hx-ext="json-enc">

        <div class="form-group">
            <label for="modal-name">Twist Name</label>
            <input type="text" id="modal-name" name="name" required>
        </div>

        <div class="form-group">
            <fieldset>
                <legend>Surface Type</legend>
                <div class="radio-group">
                    <label><input type="radio" name="is_paved" value="true" checked> Paved</label>
                    <label><input type="radio" name="is_paved" value="false"> Unpaved</label>
                </div>
            </fieldset>
        </div>

        <div id="route-status-indicator" class="gone"></div>

        {{ render_form_buttons(submit_text="Create Twist", submit_disabled=true) }}
    </form>
    {% endcall %}
</div>

<div id="modal-rate-twist" class="modal modal-dynamic">
    <p>Loading...</p>
</div>

<div id="modal-view-twist-ratings" class="modal modal-dynamic">
    <p>Loading...</p>
</div>

<div id="modal-delete-twist" class="modal modal-dynamic">
    <p>Loading...</p>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"
        integrity="sha512-puJW3E/qXDqYp9IfhAI54BJEaWIfloJ7JWs7OeD5i6ruC9JZL1gERT1wjtwXFlh7CjE7ZJ+/vcRZRkIYIb6p4g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
{% endblock %}