<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twisties</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css"
        integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
{% if new_twist %}
    <body data-new-twist="{{ new_twist }}">
{% else %}
    <body>
{% endif %}

    {% if flash %}
    <div class="flash-message">
        {{ flash }}
    </div>
    {% endif %}

    <div id="sidebar">
        <div id="twist-list-container">
            <h1>Twists</h1>
            <button class="open-modal-create-twist" data-modal-target="#modal-create-twist">New Twist</button>

            <ul id="twist-list">
                {% for twist in twists %}
                <li class="twist-item" data-twist-id="{{ twist.id }}" data-paved="{{ twist.is_paved }}">
                    <div class="twist-header">
                        <span class="twist-name">{{ twist.name }}</span>
                        <span class="visibility-toggle" title="Toggle visibility">
                            <i class="far fa-eye"></i>
                        </span>
                    </div>
                    <div class="ratings-container">
                        <h4>Average Rating</h4>
                        <button data-modal-target="#modal-rate-twist" data-twist-id="{{ twist.id }}">Rate</button>
                        <ul></ul>
                        <a href="#" data-modal-target="#modal-view-twist-ratings" data-twist-id="{{ twist.id }}">See all</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="map"></div>

    <div id="modal-create-twist" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h1>New Twist</h1>
            
            <form action="/twists/create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="modal-name">Twist Name</label>
                    <input type="text" id="modal-name" name="name" required>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>Surface Type</legend>
                        <div class="radio-group">
                            <label>
                                <input type="radio" name="is_paved" value="true" checked> Paved
                            </label>
                            <label>
                                <input type="radio" name="is_paved" value="false"> Unpaved
                            </label>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <label for="modal-file">GPX File</label>
                    <input type="file" id="modal-file" name="file" accept=".gpx" required>
                </div>

                <div class="button-group">
                    <button type="button" class="cancel-button">Cancel</button>
                    <button type="submit">Create Twist</button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal-rate-twist" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h1>Rate Twist</h1>
            
            <form action="" method="post" data-action-template="/twists/{id}/rate">
                <div class="form-group">
                    <label for="rating-date">Rating Date</label>
                    <input type="date" id="rating-date" name="rating_date" required>
                </div>

                {% for paved, criteria_list in [(true, rating_critera_paved), (false, rating_critera_unpaved)] %}
                <div class="criteria-group" data-paved="{{ paved | lower }}" style="display: none;">
                    {% for criteria in criteria_list %}
                    <div class="form-group slider-group">
                        <label for="{{ criteria.name }}" title="{{ criteria.desc }}">{{ criteria.name.replace('_', ' ') | title }}</label>
                        <input type="range"
                            id="{{ criteria.name }}"
                            name="{{ criteria.name }}"
                            min="0" max="10" value="5"
                            oninput="this.nextElementSibling.value = this.value">
                        <output for="{{ criteria.name }}">5</output>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="button-group">
                    <button type="button" class="cancel-button">Cancel</button>
                    <button type="submit">Submit Rating</button>
                </div>
            </form>
        </div>
    </div>

    <div id="modal-view-twist-ratings" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h1>Twist Ratings</h1>
            <div id="ratings-list-container">
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.js"
        integrity="sha512-puJW3E/qXDqYp9IfhAI54BJEaWIfloJ7JWs7OeD5i6ruC9JZL1gERT1wjtwXFlh7CjE7ZJ+/vcRZRkIYIb6p4g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/2.2.0/gpx.min.js"
        integrity="sha512-i9cfK7mcbURqnNfNFYqNhB4/Ae5xAgrrGFPgRnVB5Ws6Xac3BbYqFwtMbyf3QZW8Nq+F7gcWGsM0HUyoA/RVIw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>
    <script src="{{ url_for('static', path='/js/script.js') }}"></script>
</body>
</html>