{% extends "base.html" %}
{% from "fragments/_macros.html" import render_modal_content, render_form_buttons %}

{% block body_attributes %}
    {% if new_twist %}data-new-twist="{{ new_twist }}"{% endif %}
{% endblock %}

{% block content %}
    <div class="flash-message"></div>

    <div id="sidebar">
        <div id="twist-list-container">
            <h1>MotoTwist</h1>
            <button id="start-new-twist" class="button create-twist-button" href="#">New Twist</button>
            <a id="finalize-new-twist" class="button create-twist-button gone" href="#modal-create-twist">Finalize</a>
            <button id="cancel-new-twist" class="button create-twist-button button-cancel gone">Cancel</button>

            <ul id="twist-list" hx-get="/twist-list" hx-trigger="load" hx-swap="innerHTML">
                <p>Loading twists...</p>
            </ul>
        </div>
    </div>

    <div id="map"></div>

    <template id="create-waypoint-popup-template">
        <div class="create-waypoint-popup">
            <input type="text" class="create-waypoint-name-input" placeholder="Waypoint Name">
            <div class="popup-buttons">
                <button class="popup-button-hide" title="Hide/Show Waypoint">
                    <i class="far fa-solid fa-flag"></i>
                </button>
                <button class="popup-button-delete" title="Delete Waypoint">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    </template>

    <div id="top-right-controls">
        {% include "fragments/auth_widget.html" %}
        <a href="#modal-info" class="button button-block"><i class="fa-solid fa-circle-info"></i></a>
    </div>

    <div id="modal-login" class="modal">
        {% call render_modal_content("Login") %}
            <form hx-post="/login"
                hx-target="#auth-widget"
                hx-swap="outerHTML">

                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" id="username" name="username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>

                {{ render_form_buttons(submit_text="Login") }}
            </form>
        {% endcall %}
    </div>

    <div id="modal-create-twist" class="modal">
        {% call render_modal_content("New Twist") %}
            <form hx-post="/twist"
                hx-target="#twist-list"
                hx-swap="innerHTML"
                hx-ext="json-enc">

                <div class="form-group">
                    <label for="modal-name">Twist Name</label>
                    <input type="text" id="modal-name" name="name" required>
                </div>

                <div class="form-group">
                    <fieldset>
                        <legend>Surface Type</legend>
                        <div class="radio-group">
                            <label><input type="radio" name="is_paved" value="true" checked> Paved</label>
                            <label><input type="radio" name="is_paved" value="false"> Unpaved</label>
                        </div>
                    </fieldset>
                </div>

                <div id="route-status-indicator" class="gone"></div>

                {{ render_form_buttons(submit_text="Create Twist", submit_disabled=true) }}
            </form>
        {% endcall %}
    </div>

    <div id="modal-rate-twist" class="modal modal-dynamic">
        <p>Loading form...</p>
    </div>

    <div id="modal-view-twist-ratings" class="modal modal-dynamic">
        <p>Loading ratings...</p>
    </div>

    <div id="modal-delete-twist" class="modal modal-dynamic">
        <p>Loading form...</p>
    </div>
{% endblock %}